<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-push-4">
      <input type="text" placeholder="Enter value" [appInputFormat]="'uppercase'" class="form-control">
    </div>
  </div>
</div>
