<!-- <app-boiler></app-boiler> -->
<!-- <app-custom-directive></app-custom-directive> -->
<!-- <app-bootstrap></app-bootstrap> -->
<!-- <app-ng-form></app-ng-form> -->
<!-- <app-input [ram-car]="ram_car" [isFav]="isFav" [data]="post"></app-input> -->
<!-- <app-output (changeOutput)="onOutputChanged($event)"></app-output> -->
<!-- <router-outlet></router-outlet> -->
<!--
{{ram_car | json}} -->

<!-- <app-sample></app-sample> -->
<app-weather></app-weather>