<div class="fixed left-0 top-50 wp-100 bg-white pad-tb-10 box-shadow">
    <p class="wp-11 f-left">Firstname</p>
    <p class="wp-9 f-left">Lastname</p>
    <p class="wp-38 f-left">Email</p>
    <p class="wp-21 f-left">Phone</p>
    <p class="wp-7 f-left">Action</p>
</div>
<table class="table table-striped mar-t-30 mar-b-0">
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{user.name.fname}}</td>
        <td>{{user.name.lname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>
          <button class="btn btn-success b-radius-0 mar-r-2" [routerLink]="['/update']" [queryParams]="{ id: i }">Update</button>
          <button class="btn btn-danger b-radius-0  mar-r-2" (click)="deleteUser(i)">Delete</button>
          <button class="btn btn-primary b-radius-0" [routerLink]="['/profile']" [queryParams]="{ id: i }">View</button>
        </td>
      </tr>
    </tbody>
  </table>
