<ul>
  <li *ngFor="let course of courses">
      {{ course }}
  </li>
</ul>

<div>
  <h3>{{course.title | uppercase }}</h3>
  <h3>{{course.rating | number:'1.1-1' }}</h3>
  <h3>{{course.students | number}}</h3>
  <h3>{{course.price | currency: 'AUD':true:'3.1-1'}}</h3>
  <h3>{{course.releseDate | date : 'shortDate'}}</h3>
  <p>{{text | summary : 40}}</p>
</div>

<button (click)="loadCourse()">load courses</button>
<p></p>
<ul>
  <li *ngFor="let list of list; trackBy: trackList">
    {{list.id}} - {{list.name}}
  </li>
</ul>
