<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group no-padding no-list-style no-margin">
      <li *ngFor="let ingredient of ingredients">
        <a href="#" class="list-group-item" style="cursor: pointer;">{{ ingredient.name }} ({{ ingredient.amount }})</a>
      </li>
    </ul>
  </div>
</div>
