<div class="pad-tb-10 pad-lr-30">
  <app-child (newName)="gotNotification($event)"></app-child>
  <div *ngIf="data" class="pad-tb-10">
    <h3 *ngIf="data" class="pad-tb-5">{{ data.fname }} {{ data.lname }}</h3>
    <h5 *ngIf="data">{{ data.empId }}</h5>
    <h5 *ngIf="data">{{ data.company }}</h5>
  </div>
</div>
