<div class="row">
  <div class="col-sm-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>Recipie Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle text-white f-size-12">
        Manage Recipe
        <span class="caret text-white mar-lr-5"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="">Shopping list</a></li>
        <li><a href="">Edit Recipie</a></li>
        <li><a href="">Delete Recipie</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    Ingredients
  </div>
</div>
