<footer class="container-fluid navbar-inverse fixed bottom-0 left-0 wp-100 pad-t-30">
  <div class="row">
    <div class="col-sm-3">
      <ul class="no-margin no-padding no-list-style">
        <li class="text-white">Custom Link</li>
        <li class="text-white">Custom Link</li>
        <li class="text-white">Custom Link</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul class="no-margin no-padding no-list-style">
        <li class="text-white">Custom Link</li>
        <li class="text-white">Custom Link</li>
        <li class="text-white">Custom Link</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul class="no-margin no-padding no-list-style">
        <li class="text-white">Custom Link</li>
        <li class="text-white">Custom Link</li>
        <li class="text-white">Custom Link</li>      </ul>
    </div>
    <div class="col-sm-3">
      <ul class="no-margin no-padding no-list-style">
        <li class="text-white">Custom Link</li>
        <li class="text-white">Custom Link</li>
        <li class="text-white">Custom Link</li>
      </ul>
    </div>
  </div>
</footer>
