// Global Scss by Abhishek Kumar
@font-face {
    font-family: raleway;
    src: url('https://fonts.googleapis.com/css?family=Raleway');
}

*{
  font-family: 'raleway', sans-serif;;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
}

// Custom mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Border radius
@for $i from 0 through 5{
  .b-radius-#{$i}{
    @include border-radius(#{$i}px);
  }
}

// Margin
@for $i from -25 through 25{
  .mar-lr-#{$i}{
    margin-left: #{$i*5}px;
    margin-right: #{$i*5}px;
  }
  .mar-tb-#{$i*5}{
    margin-top: #{$i*5}px;
    margin-bottom: #{$i*5}px;
  }
  .mar-l-#{$i}{
    margin-left: #{$i*5}px;
  }
  .mar-t-#{$i*5}{
    margin-top: #{$i*5}px;
  }
  .mar-r-#{$i}{
    margin-right: #{$i*5}px;
  }
  .mar-b-#{$i*5}{
    margin-bottom: #{$i*5}px;
  }
}

// Padding
@for $i from 0 through 30{
  .pad-lr-#{$i}{
    padding-left: #{$i*5}px;
    padding-right: #{$i*5}px;
  }
  .pad-tb-#{$i*5}{
    padding-top: #{$i*5}px;
    padding-bottom: #{$i*5}px;
  }
  .pad-l-#{$i}{
    padding-left: #{$i*5}px;
  }
  .pad-b-#{$i*5}{
    padding-bottom: #{$i*5}px;
  }
  .pad-r-#{$i}{
    padding-right: #{$i*5}px;
  }
  .pad-t-#{$i*5}{
    padding-top: #{$i*5}px;
  }
  .f-size-#{$i}{
    font-size: #{$i}px;
  }
  .l-height{
    line-height: #{$i}px;
  }
}

// width & height
@for $i from 0 through 150{
  .wp-#{$i}{
    width: percentage($i/100);
  }
  .hp-#{$i}{
    height: percentage($i/100);
  }
  .w-#{$i*5}{
    width: #{$i*5}px;
  }
  .h-#{$i*5}{
    height: #{$i*5}px;
  }
}

// positions
@for $i from -100 through 100{
  .top-#{$i}{
    top: #{$i}px;
  }
  .left-#{$i}{
    left: #{$i}px;
  }
  .right-#{$i}{
    right: #{$i}px;
  }
  .bottom-#{$i}{
    bottom: #{$i}px;
  }
}

// Custom Css Properties
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.inline{
  display: inline;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.fixed{
  position: fixed;
}
.f-left{
  float: left;
}
.f-none{
  float: none;
}
.f-right{
  float: right;
}
.center-block{
  margin: 0px auto;
  display: block;
}
.no-list-style{
  list-style-type: none;
}
.text-white{
  color: white;
}
.o-hidden{
  overflow: hidden;
}
.o-auto{
  overflow: auto;
}
.bg-white{
  background: white;
}
.box-shadow{
  box-shadow: 1px 2px 7px #b0b0b0;
}
