<div class="container-fluid">
  <div class="row mar-t-50">
    <div class="col-sm-4 col-sm-push-4">
      <div class="panel panel-primary box-shadow">
      <div class="panel-heading f-size-16 text-center">Profile Information</div>
      <div class="panel-body">
        <div>
          <img src="http://lorempixel.com/200/200" class="w-200 center-block " />
        </div>
        <div class="text-center mar-tb-15">
          <h3>{{current_user.name.fname}} {{current_user.name.lname}}</h3>
          <h5 class="pad-tb-5">{{current_user.email}}</h5>
          <h5>{{current_user.phone}}</h5>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
