<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="pad-lr-15">
          <h1>To do list</h1>
          <input type="text" class="form-control" placeholder="Enter value" #name/>
          <button class="btn form-control bg-red text-white mar-t-5" (click)="addUser(name.value)">Click</button>
          <ul class="no-padding no-margin no-list-style mar-t-20">
            <li  @custom class="pad-tb-10 border pad-lr-15 pointer" *ngFor="let user of users; let i= index;" (click)="removeUser(i)">{{ user }}</li>
          </ul>
        </div>
      </div>
    </div>
</div>
