<div class="container" style="padding:  30px 0px;">
  <div class="row">
    <div class="col-sm-12">
      <input
      (keyup.enter)="createPost(title)"
      #title
      class="form-control"
      type="text"
      placeholder="Enter the value" >
    </div>
  </div>
  <div class="row">
    <div
    class="col-sm-4"
    *ngFor="let post of posts">
      <h3>{{post.id}}-{{post.title}}</h3>
      <p>{{post.body}}</p>
    </div>
  </div>
</div>
