<!-- #62 If then in angular -->

<!-- <div *ngIf="courses.length > 0; then CourseList else noCourses">
</div>
<ng-template #CourseList>
  List of courses
</ng-template>
<ng-template #noCourses>
  No courses yet
</ng-template> -->


<!-- #63 Hidden Property in angular -->
<!-- <div [hidden]="courses.length == 0">
  List of courses
</div>
<div [hidden]="courses.length > 0">
  No courses yet
</div> -->



<!-- #063 ngSwitchCase -->
<!-- <ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
  <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">
    Map View Content
  </div>
  <div *ngSwitchCase="'list'">
    List View Content
  </div>
  <div *ngSwitchDefault>
    This is Default value
  </div>
</div> -->



<!-- #064 ngFor Example -->
<button class="btn btn-primary" (click)="onAdd()">Add Item</button>
<ul>
  <li *ngFor="let item of list; index as i; even as isEven">
      index is {{i + 1}} and course name is {{item.name}} <span *ngIf="isEven">I am even</span>
      <button class="btn" (click)="removeCourse(course)">REMOVE</button>
  </li>
</ul>
