<!-- <ng-container *ngFor="let sample of samples">
  <p>{{ day | date: 'shortDate' }}</p>
  <p>{{ day | date: 'short' }}</p>
  <p>{{ day | date: 'fullDate' }}</p>
  <b>{{ sample.color | uppercase }} {{ sample.value }}</b>
</ng-container> -->
<p bg-blue>{{ array | sort: 'asc' | currency }}</p>
<p bg-red>{{ array | sort: 'desc' | dumb }}</p>
<p bg-green>{{ array | sort: 'asc' | toast }}</p>
<p bg-yellow>{{ array | sort: 'desc' | test }}</p>



