<div class="row">
  <div class="col-sm-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name" >Name</label>
          <input type="text" name="name" id="name" value="" class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount" >Amount</label>
          <input type="number" name="amount" id="amount" value="" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success text-white" name="button">Add</button>
            <button type="submit" class="btn btn-danger text-white" name="button">Delete</button>
            <button type="submit" class="btn btn-primary text-white" name="button">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
