<!-- <app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipies></app-recipies>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>

 -->

 <!-- <app-pipe></app-pipe> -->

 <app-animation></app-animation>