<div class="container-fluid">
  <div class="row bg-white">
    <div class="col-sm-12">
        <h1>INPUT WORKS</h1>
        Value is {{ isFavourite }}
        Title is {{ user_data.title }}
        Author is {{ user_data.author }}
    </div>
  </div>
</div>


{{car | json}}
