<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div>
          <h1>
              {{ title }}
            </h1>
            <hr />
            <input type="text" [(ngModel)]="cityName" class="form-control h-40" placeholder="Enter city name">
            <button (click)="searchCity()"  class="form-control btn bg-red h-45 mar-tb-10 text-white">Search</button>
      </div>  
      <div class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="0"
      [infiniteScrollThrottle]="300"
      (scrolled)="onScroll()">
      </div>
      <div @fade *ngFor="let comment of data; let i = index;" [class.mar-t-30]="i == 0" class="wp-100 min-h-100">
          <div class="wp-10 f-left">
              <img src="http://lorempixel.com/75/75/" />
          </div>
          <div class="wp-90 f-left pad-lr-10">
              <h3 class="no-margin f-size-18 text-darkblue text-uppercase pad-b-15 b-text">{{ i + 1 }} {{ comment.name }}</h3>
              <h3 class="no-margin f-size-13 text-500 text-blue">{{ comment.email }}</h3>
              <p class="no-margin f-size-13 text-grey">{{ comment.body }}</p>
          </div>
      </div>
    </div>
  </div>  
</div>