<header class="fixed top-0 left-0 wp-100">
  <nav class="navbar navbar-inverse b-radius-0 mar-b-0">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand f-size-16" href="#">CRUZ</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home">HOME</a></li>
        <li routerLinkActive="active"><a routerLink="/create">CREATE</a></li>
        <li routerLinkActive="active"><a routerLink="/list">LIST</a></li>
        <li routerLinkActive="active"><a routerLink="/update" [queryParams]="{ id: 0 }">UPDATE</a></li>
        <li routerLinkActive="active"><a routerLink="/profile" [queryParams]="{ id: 0 }">PROFILE</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    </nav>
</header>
