<div class="container-fluid">
  <div class="row mar-t-50">
    <div class="col-sm-4 col-sm-push-4">
      <form [formGroup]="userForm">
        <div>
          <div class="form-group">
            <label for="fname">First Name:</label>
            <input type="text" class="form-control" id="fname" placeholder="Enter first name" name="fname" FormControlName>
            <!-- <p [hidden]="fname.valid || fname.pristine" class="alert alert-danger pad-tb-5 mar-t-10">First name can't be empty</p> -->
            <div class="alert alert-danger pad-tb-5 mar-t-10">
                <p>First name can't be empty</p>
                <p>Please enter atleast 5 characters</p>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Last Name:</label>
            <input type="text" class="form-control" id="lname" placeholder="Enter last name" name="lname">
            <div class="alert alert-danger pad-tb-5 mar-t-10">
                <p>Last name can't be empty</p>
                <p>Please enter atleast 5 characters</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          <div class="alert alert-danger pad-tb-5 mar-t-10">
              <p>Eamil address can't be empty</p>
              <p>Please enter a valid email address</p>
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone">
          <div class="alert alert-danger pad-tb-5 mar-t-10">
              <p>Phone address can't be empty</p>
              <p>Please enter a valid Phone Number like +91 (123) 456-7890</p>
          </div>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
    </div>
  </div>
</div>
