<form action="">
  <div class="form-group">
    <label for="firstName">
      First Name
    </label>
    <input ngModel name="firstName" id="firstName" type="text" class="form-control" #firstName="ngModel" (change)="log(firstName)">
  </div>
  <div class="form-group">
    <label for="comment">
      Comment
    </label>
    <textarea id="comment" cols="30" rows="10" class="form-control">

    </textarea>
    <div class="btn btn-primary">Submit</div>
  </div>
</form>
