<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="" class="navbar-brand">Recipie Book</a>
    </div>
    <div class="collpase navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="">Recipies</a></li>
          <li><a href="">Shopping List</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret mar-lr-5"></span></a>
            <ul class="dropdown-menu">
              <li><a href="">Save data</a></li>
              <li><a href="">Fetch data</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</nav>
