//@import url("https://fonts.googleapis.com/css?family=Roboto");
//@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");

$white : white;
$blue : #0061d5;
$black : #323232;
$backgroundColor: #ececec;
$green : #80bd18;
$maroon:#d9232d;
$blackshade : #565656;
$grey : #e2e2e2;
$darkgrey : #737373;
$darkergrey : #53534F; //#5d5d5d;
$lightblue : #f1f8fc;
$border : #efefef;
$red : #dc1410;
$border : #dadada;
$border_grey : #d6d6d6;
$placeholer_color : #a2a1a1;
$darkblue : #366090;
$red : #dc1410;
$golden : #fdb92c;
$bordergrey : #dadada;
$darkgreen : #299e22;
$orange : #f17a24;
//$orange-gradient : linear-gradient(to bottom,#fa6c1e 0,#d54b21 100%);
$orange-gradient : #f17a24;
//$green-gradient : linear-gradient(to bottom,#75d22c 0,#5ba621 100%);
$green-gradient : #5ba621;
$bglightblue : #e8effb;
$resMin : 100%;
$disabled: #bfbfbf;
$blue_black : #283f65;
$grey_shade : #323232;
$back_btn: #53534F;
$edit-btn-text: #3365e2;
$cancel-error: #fff2cd;


*{
	//font-family: 'Open Sans', sans-serif !important;
  font-family: 'Roboto', sans-serif !important;
	color: #323232 !important;
}

.form-control,.btn,.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn,.input-group-addon{
  border-radius: 3px !important;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.pointer{
	cursor: pointer;
}

.inline-block{
	display: inline-block !important;
}

.blackText{
  color: #505050 !important;
}

.text-white{
	color: white !important;
}

.text-orange{
  color: $orange !important;
}

.text-blueblack{
	color: $blue_black !important;
}

.text-lblack{
  color: #525252 !important;
}
.edit-btn-text {
  color: $edit-btn-text !important;
  border: none !important;
}

.text-red{
	color: #dc1410 !important;
}

.text-blackshade{
	color: $blackshade !important;
}

.text-deepblue{
  color: #2d4f75 !important;
}

.text-darkblue{
	color: $darkblue !important;
}

.text-semiblack{
  color: #5b5b5b !important;
}

.text-blue{
	color: $blue !important;
}

.text-maroon{
  color:$maroon !important;
}

.text-darkergrey{
	color: $darkergrey !important;
}

.text-golden{
	color: $golden !important;
}

.text-green{
	color: $darkgreen  !important;
}

.text-grey-shade{
	color: $grey_shade !important;
}

.text-darkgrey{
  color: $darkergrey !important;
}
.text-red {
  color:$red !important;
}

.bg-red{
	background: #dc1410 !important;
}

.bg-back{
  background: $backgroundColor;
}


.bg-orange{
	background: #f19324 !important;
}

.bg-bglightblue{
	background-color: $bglightblue;
}

.bg-darkgrey{
  background: darkslategrey;
}

.light-grey{
  background: #f9f9f9 !important;
}

.btn-green{
	background-color: $green;
}

.btn-disabled{
	background-color: $disabled;
}

.btn-white{
	background-color: $white;
}

.btn-golden{
	background-color: $golden;
}

.bg-back_btn {
  background-color: $back_btn;
}

.btn-red{
	background: $orange-gradient !important;
  height: 45px;
  font-size: 16px;
  width: 200px;
}

.btn-green{
	background: $green-gradient;
	height: 45px;
	font-size: 16px;
	width: 200px;
}

.btn-facebook{
	background: #3b579d !important;
	color: white !important;
}

.btn-google{
	background: #dd4b39 !important;
	color: white !important;
}

.bg-darkblue{
	background: $darkblue;
}

.bg-green{
  background: $darkgreen;
}

.bg-orange-grad{
	 background: $orange-gradient !important;
}

.bg-blue{
	background-color: $blue;
}

.bg-black{
  background-color: $black !important;
}

.text-lightgrey{
  color: #c3c2c2 !important;
}

.bg-dark-grey{
	background-color: $darkgrey;
}

.bg-light-blue{
	background-color: $lightblue;
}

.bg-grey{
	background-color: $grey;
}

.bg-white{
	background-color: $white;
}

.bg-trans{
	background-color: transparent !important;
}

.border-darkblack-r{
	border-right: 1px solid #b7b7b7;
}

.border-light-r{
  border-right: 1px solid #ccc;
}

.border-white-2{
  border: 2px solid white;
}

.text-underline{
  text-decoration: underline !important;
}

.text-white{
	color: white;
}

.no-list-style{
	list-style-type: none;
}

.btn{
	cursor: pointer !important;
}

.text-grey{
	color: $darkgrey !important;
}

.text-blue{
	color: $blue;
}

.text-black{
	color: $black !important;
}

.no-padding{
	padding: 0px !important;
}

.no-margin{
	margin: 0px !important;
}

.border{
	border: 1px solid $border;
}

.no-shadow{
	box-shadow: none;
}

.box-shadow1{
	box-shadow: 2px 3px 5px #dcdcdc !important;
}

.fa{
	font-family: 'fontAwesome' !important;
}

a{
  cursor: pointer;
  color: black !important;
  text-decoration: none;
}

.no-hover:hover{
  text-decoration: none !important;
}

a:hover{
  text-decoration: none !important;
  color: #dc1410  !important;
}

.nav.nav-tabs{
  background: transparent;
}

.owl-carousel{
	display: block !important;
}

.owl-prev {
	position: absolute;
	z-index: 9;
	left: 0px;
	top: 145px;
	background: transparent !important;
	img{
		height: 12px;
	}
}

.owl-next {
	position: absolute;
	z-index: 9;
	right: 0px;
	top: 140px;
	background: transparent !important;
	img{
		height: 12px;
	}
}


//Hide the back to top button
ba-back-top{
	display: none;
}

@for $i from -100 through 500{
	.top-#{$i}{
		top: #{$i}px !important;
	}

	.bottom-#{$i}{
		bottom: #{$i}px !important;
	}

	.left-#{$i}{
		left: #{$i}px !important;
	}

  .lp-#{$i}{
    left: #{$i}% !important;
  }

	.right-#{$i}{
		right: #{$i}px !important;
	}
}

@for $i from 1 through 100{
	.h-#{$i}{
		height: #{$i}px !important;
	}
}

@for $i from 5 through 50{
	.f-size-#{$i}{
		font-size: #{$i}px !important;
	}
}

@for $i from 1 through 50{
	.mar-tn-#{$i*5}{
		margin-top: -#{$i*5}px !important;
	}
	.mar-bn-#{$i*5}{
		margin-bottom: -#{$i*5}px !important;
	}
	.mar-ln-#{$i*5}{
		margin-left: -#{$i*5}px !important;
	}
	.mar-rn-#{$i*5}{
		margin-right: -#{$i*5}px !important;
	}
}

@for $i from -10 through 50{
	.mar-t-#{$i*5}{
		margin-top: #{$i*5}px !important;
	}
}

@for $i from -50 through 50{
	.mar-b-#{$i*5}{
		margin-bottom: #{$i*5}px !important;
	}
}

@for $i from 1 through 50{
	.mar-tb-#{$i*5}{
		margin-top: #{$i*5}px !important;
		margin-bottom: #{$i*5}px !important;
	}
}

@for $i from -15 through 15{
	.mar-l-#{$i*5}{
		margin-left: #{$i*5}px !important;
	}
}

@for $i from 1 through 100{
  .mar-lp-#{$i}{
    margin-left: #{$i}% !important;
  }
}

@for $i from 1 through 15{
	.mar-r-#{$i*5}{
		margin-right: #{$i*5}px !important;
	}
}

@for $i from -15 through 15{
	.mar-lr-#{$i*5}{
		margin-left: #{$i*5}px !important;
		margin-right: #{$i*5}px !important;
	}
}

@for $i from 0 through 50{
	.border-r-#{$i}{
		border-radius: #{$i}px !important;
	}

  .border-tl-r-#{$i}{
    border-top-left-radius: #{$i}px !important;
  }

  .border-bl-r-#{$i}{
    border-bottom-left-radius: #{$i}px !important;
  }

  .border-tr-r-#{$i}{
    border-top-right-radius: #{$i}px !important;
  }

  .border-br-r-#{$i}{
    border-bottom-right-radius: #{$i}px !important;
  }
}

@for $i from 0 through 250{
	.pad-t-#{$i}{
		padding-top: #{$i}px !important;
	}
}

@for $i from 0 through 50{
	.pad-b-#{$i*5}{
		padding-bottom: #{$i*5}px !important;
	}
}

@for $i from 0 through 500{
	.pad-tb-#{$i}{
		padding-top: #{$i}px !important;
		padding-bottom: #{$i}px !important;
	}
}

@for $i from 0 through 15{
	.pad-l-#{$i*5}{
		padding-left: #{$i*5}px !important;
	}
}

@for $i from 0 through 15{
	.pad-r-#{$i*5}{
		padding-right: #{$i*5}px !important;
	}
}

@for $i from 0 through 50{
	.pad-lr-#{$i*5}{
		padding-left: #{$i*5}px !important;
		padding-right: #{$i*5}px !important;
	}
}

@for $i from 1 through 50{
	.h-#{$i*5}{
		height: #{$i*5}px !important;
	}
}

@for $i from 1 through 300{
	.w-#{$i*5}{
		width: #{$i*5}px !important;
	}
}

@for $i from 1 through 100{
	.wp-#{$i}{
		width: #{$i}% !important;
	}
}

@for $i from 1 through 500{
	.min-w-#{$i}{
		min-width: #{$i}px !important;
	}
}

@for $i from 1 through 500{
	.min-h-#{$i}{
		min-height: #{$i}px !important;
	}
}

@for $i from 1 through 50{
	.lh-#{$i}{
		line-height: #{$i}px !important;
	}
}

@for $i from 0 through 10{
	.b-l-#{$i}{
		border-left: #{$i}px solid #f1f1f1 !important;
	}
  .b-l-xs-#{$i}{
    border-left: #{$i}px solid #f1f1f1 !important;
  }
}

@for $i from 1 through 500{
	.max-w-#{$i}{
		max-width: #{$i}px !important;
	}
}

h1,h2,h3,h4,h5,h6,p{
	padding: 0px;
	margin: 0px;
}


.o-hidden{
	overflow: hidden;
}

.border-green{
	border: 1px solid $green !important;
}


.b-text{
	font-weight: bold;
}

.text-500{
	font-weight: 500 !important;
}
.text-400{
  font-weight: 400 !important;
}

.text-uppercase{
	text-transform: uppercase;
}
.text-capitalize {
  text-transform: uppercase;
}

.l-text{
	font-weight: 300;
}

.f-left{
	float: left !important;;
}

.f-right{
	float: right !important;
}

.block{
	display: block;
}
.pos-absolute{
   position:absolute;
}
.pos-relative{
   position:relative;
}

.line-through{
	text-decoration: line-through;
}

.no-decoration{
  text-decoration: none !important;
}

.border-white{
	border: 1px solid white;
}

.border-r-white{
	border-right: 1px solid white !important;
}

@for $i from 0 through 100{
	.z-index-#{$i}{
		z-index: #{$i} !important;
	}
}


@media (min-device-width:528px) and (max-device-width:768px){

	@for $i from 1 through 50{
		.pad-sm-t-#{$i*5}{
			padding-top: #{$i*5}px !important;
		}
	}

	@for $i from 1 through 50{
		.pad-sm-b-#{$i*5}{
			padding-bottom: #{$i*5}px !important;
		}
	}

	@for $i from 1 through 50{
		.pad-sm-tb-#{$i*5}{
			padding-top: #{$i*5}px !important;
			padding-bottom: #{$i*5}px !important;
		}
	}

	@for $i from 1 through 15{
		.pad-sm-l-#{$i*5}{
			padding-left: #{$i*5}px;
		}
	}

	@for $i from 1 through 15{
		.pad-sm-r-#{$i*5}{
			padding-right: #{$i*5}px;
		}
	}

	@for $i from 1 through 15{
		.pad-sm-lr-#{$i*5}{
			padding-left: #{$i*5}px !important;
			padding-right: #{$i*5}px !important;
		}
	}

}
@media (min-device-width:576px) and (max-device-width:1024px){
	@for $i from 1 through 50{
		.pad-md-t-#{$i*5}{
			padding-top: #{$i*5}px !important;
		}
	}

	@for $i from 1 through 50{
		.pad-md-b-#{$i*5}{
			padding-bottom: #{$i*5}px !important;
		}
	}

	@for $i from 1 through 50{
		.pad-md-tb-#{$i*5}{
			padding-top: #{$i*5}px !important;
			padding-bottom: #{$i*5}px !important;
		}
	}

	@for $i from 1 through 15{
		.pad-md-l-#{$i*5}{
			padding-left: #{$i*5}px;
		}
	}

	@for $i from 1 through 15{
		.pad-md-r-#{$i*5}{
			padding-right: #{$i*5}px;
		}
	}

	@for $i from 1 through 15{
		.pad-md-lr-#{$i*5}{
			padding-left: #{$i*5}px !important;
			padding-right: #{$i*5}px !important;
		}
	}
	@for $i from 1 through 15{
	.mar-md-l-#{$i*5}{
		margin-left:#{$i*5}px;
	}
  }
  @for $i from -100 through 100{
		.mar-t-#{$i*5}{
			margin-top: #{$i*5}px;
		}
    .top-xs-#{$i}{
      top: #{$i}px !important;
    }

    .bottom-xs-#{$i}{
      bottom: #{$i}px !important;
    }

    .left-xs-#{$i}{
      left: #{$i}px !important;
    }

    .right-xs-#{$i}{
      right: #{$i}px !important;
    }
	}

}

@for $i from 1 through 100{
  .hp-#{$i}{
    height: #{$i}% !important;
  }
}

.ullist{
	list-style-type: none !important;
	margin: 0px !important;
	padding: 0px !important;
}

button:hover{
	transform: scale(1) !important;
}

.box-shadow{
	box-shadow: 2px 3px 3px #d6d5d5 !important;
}

.box-up{
	box-shadow: 0px 0px 6px #d6d5d5 !important;
}

.f-none{
	float: none !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #5f5f5f !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #5f5f5f !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #5f5f5f !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #5f5f5f !important;
}

.placeholder-white::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white !important;
}
.placeholder-white::-moz-placeholder { /* Firefox 19+ */
  color: white !important;
}
.placeholder-white:-ms-input-placeholder { /* IE 10+ */
  color: white !important;
}
.placeholder-white:-moz-placeholder { /* Firefox 18- */
  color: white !important;
}

.center-block{
	margin: 0px auto !important;
}

.relative{
	position: relative;
	top: 0px;
}

input[type="checkbox"],input[type="radio"]{
	display: none;
}

input[type="checkbox"] + span.checkbox:before{
	font-family: 'fontAwesome';
	content: '\f0c8';
	font-size: 18px !important;
	color: #bbbbbb;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}

label{
  cursor: pointer;
}

input[type="checkbox"]:checked + span.checkbox:before{
	font-family: 'fontAwesome';
	content: '\f14a';
	font-size: 18px !important;
	color: #bbbbbb;
}

input[type="radio"] + span.radio-text:before{
	font-family: 'fontAwesome';
	content: '\f058';
  //opacity: 0;
	font-size: 18px !important;
	color: #ddd;
  margin-right: 5px !important;
}

input[type="radio"]:checked + span.radio-text:before{
  opacity: 1;
	font-family: 'fontAwesome';
  margin-right: 5px !important;
	content: '\f058';
	font-size: 18px !important;
	color: #36bd40;
}

.absolute{
	position: absolute;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.navigate_product{
  cursor: pointer !important;
}

ul.mega-dropdown-menu{
  background: white !important;
  box-shadow: 5px 1px 4px rgba(0, 0, 0, 0.26);
  .inner_menu{
    ul{
      li:first-child{
        background: transparent !important;
      }
    }
  }
  .col-lg-4{
    width: 50% !important;
    padding: 0px !important;
    img{
      width: 82% !important;
      float: right !important;
      margin: 15px;
    }
    &:nth-child(2){
      float: left;
    }
  }
  .w-645{
    .col-lg-4{
      width: 8% !important;
      padding: 0px !important;
      margin-left: 15px;
    }
  }
}

ul.mega-dropdown-menu h3{
  margin: 10px auto !important;
  font-size: 15px !important;
  font-weight: 500;
}
ul.l-menu{
  li{
    a{
      font-size: 13px !important;
    }
  }
}

ul.mega-dropdown-menu li{
  padding: 1px 0px;
}

.form-control{
  border: 1px solid #dedede !important;
}

input[type="checkbox"]{
  display: none !important;
}

ul.menu li.active{
  color: #dc1410 !important;
  &:after{
    color: #dc1410;
    content:"\f0da";
    font-family: 'fontAwesome';
    margin-left: 10px;
  }
}

button{
  text-transform: uppercase !important;
}

.no-border{
  border: 0px !important;
}

.no-border-t{
  border-top: 0px !important;
}

.no-border-b{
  border-bottom: 0px !important;
}

.no-border-l{
  border-left: 0px !important;
}

.no-border-r{
  border-right: 0px !important;
}

.al-content{
  padding: 20px 20px 8px 20px;
}

.al-main{
  padding: 50px 0 0px 0;
}
main{
	overflow-x: hidden;
}

@media only screen and (max-width:768px){
  .static-xs{
    position: static !important;
  }
  home{
    margin-top: 0px !important;
  }
  .relative-xs{
    position: relative !important;
  }
  .absolute-xs{
    position: absolute !important;
  }
  .h-auto-xs{
    height: auto !important;
  }
  .minh-auto-xs{
    min-height: auto !important;
  }
  .col-xs-12{
    width: 100% !important;
  }
  .col-xs-6{
    width: 50% !important;
  }
  .f-none-xs{
    float: none !important;
  }
  .no-padding-sm,.no-pad-xs {
    padding: 0px !important;
  }
  .no-margin-xs{
    margin: 0px !important;
  }
  .no-border-xs{
    border: 0px !important;
  }
  .al-content{
    padding: 8px 5px 8px 5px !important;
  }
  .al-main{
    padding: 50px 0 0px 0 !important;
  }
  .ac_results{
    max-width: 75% !important;
  }
  .center-block-xs{
    margin: 0px auto !important;
  }
  @for $i from -100 through 200 {
    .top-xs-#{$i} {
      top: #{$i}px !important;
    }
    .bottom-xs-#{$i} {
      bottom: #{$i}px !important;
    }
    .left-xs-#{$i} {
      left: #{$i}px !important;
    }
    .right-xs-#{$i} {
      right: #{$i}px !important;
    }
  }
  @for $i from 0 through 100{
    .h-xs-#{$i}{
      height: #{$i}px !important;
    }
    .pad-lr-xs-#{$i*5}{
      padding-left: #{$i*5}px !important;
      padding-right: #{$i*5}px !important;
    }
    .pad-l-xs-#{$i*5}{
      padding-left: #{$i*5}px !important;
    }
    .pad-r-xs-#{$i*5}{
      padding-right: #{$i*5}px !important;
    }
    .pad-tb-xs-#{$i*5}{
      padding-top: #{$i*5}px !important;
      padding-bottom: #{$i*5}px !important;
    }
    .pad-t-xs-#{$i*5}{
      padding-top: #{$i*5}px !important;
    }
    .pad-b-xs-#{$i*5}{
      padding-bottom: #{$i*5}px !important;
    }

  }
  @for $i from 1 through 20{
    .mar-tb-xs-#{$i*5}{
      margin-top: #{$i*5}px !important;
      margin-bottom: #{$i*5}px !important;
    }
  }
  @for $i from -50 through 50{
    .mar-t-xs-#{$i*5}{
      margin-top: #{$i*5}px !important;
    }
  }
  @for $i from -50 through 50{
    .mar-l-xs-#{$i*5}{
      margin-left: #{$i*5}px !important;
    }
    .mar-lr-xs-#{$i*5}{
      margin-left: #{$i*5}px !important;
      margin-right: #{$i*5}px !important;
    }
  }
  @for $i from -50 through 50{
    .mar-r-xs-#{$i*5}{
      margin-right: #{$i*5}px !important;
    }
  }
  @for $i from 1 through 20{
    .mar-b-xs-#{$i*5}{
      margin-bottom: #{$i*5}px !important;
    }
  }
  @for $i from 1 through 100{
    .w-xs-#{$i*5}{
      width: #{$i*5}px !important;
    }
  }
  @for $i from 1 through 200{
    .wp-xs-#{$i}{
      width: #{$i}% !important;
    }
    .lh-xs-#{$i}{
      line-height: #{$i}px !important;
    }

    .f-size-xs-#{$i}{
      font-size: #{$i}px !important;
    }
  }

  .text-center-xs{
    text-align: center !important;
  }
  .inline-block-xs{
    display: inline-block !important;
  }
  .block-xs{
    display: block;
  }
  .text-left-xs{
    text-align: left !important;
  }
  .text-center-xs{
    text-align: center !important;
  }
  .text-right-xs{
    text-align: right !important;
  }
  .f-left-xs{
    float: left !important;
  }
  .f-right-xs{
    float: right !important;
  }
  .row-eq-height{
    display: block !important;
  }
  .no-border-xs{
    border: 0px !important;
  }
  .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
    padding: 0px;
  }
  .owl-carousel .owl-nav .owl-prev img, .owl-carousel .owl-nav .owl-next img{
    height: 12px;
  }

}

ul.arrow-style{
  list-style-image:url('http://images.moglix.com/img/others/arrow.png') !important;
}

.font-berkshire{
  font-family:'Berkshire Swash', cursive !important;
}

#page-loader,#preloaer{
  background: rgba(39, 39, 39, 0.65);
  //background: rgba(255, 255, 255, 0.53);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  //display: block !important;
  left: 0;
  z-index: 999;
}


label span a{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#page-loader .spinner-loader{
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
  border-radius: 0.5em;
  box-shadow: rgba(0,0,51,0.3) 1.5em 0 0 0, rgba(0,0,51,0.3) 1.1em 1.1em 0 0, rgba(0,0,51,0.3) 0 1.5em 0 0, rgba(0,0,51,0.3) -1.1em 1.1em 0 0, rgba(0,0,51,0.3) -1.5em 0 0 0, rgba(0,0,51,0.3) -1.1em -1.1em 0 0, rgba(0,0,51,0.3) 0 -1.5em 0 0, rgba(0,0,51,0.3) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%;
  left: 55%;
  top: 50%;
  position: fixed;
  z-index: 99999999;
}

.fixed{
  position: fixed;
}

.border-black{
  border: 1px solid black !important;
}

.border-d-red{
  border: 1px dashed $red !important;
}

.border-grey{
  border: 1px solid $darkergrey !important;
}

.border-orange{
  border: 2px solid $orange !important;
}

.border-t{
  border-top: 1px solid $grey;
}

.border-t-dark{
  border-top: 1px solid #d4d4d4 !important;
}

.border-light{
  border: 1px solid #eaeaea !important
}

.border-light-bottom{
  border-bottom: 1px solid #eaeaea !important
}

.border-b{
  border-bottom: 1px solid $grey;
}

.border-dark-b {
  border-bottom: 1px solid #b5b5b5 !important
}

ul.caret_style{
  li{
    &:before{
      color: #777777;
      margin-right: 5px;
      display: inline-block;
      content: '\f0da';
      font-family: FontAwesome;
    }
  }
}

input[type='text'],input[type='password'],input[type='email'],select,button{
  &:focus{
    outline: none !important;
  }
}


.moglix-form{
  label{
    transform: translateY(-35px);
    transition: all 0.25s ease-in-out;
    font-size: 14px;
    color: #828282 !important;
    pointer-events: none;
  }
  input[type='text'],input[type='email'],input[type='password']{
    padding: 5px 0px !important;
  }
  input:focus{
    border-bottom: 2px solid #366090 !important;
  }

  input:focus + label,input.isFocus + label{
    font-size: 12px;
    transform: translateY(-55px);
  }
}

p{
  margin: 0px !important;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
  text-align: center;
}

.nav.nav-tabs{
  background: transparent !important;
}

.cus-layout {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.footer-grey-text{
  color: #737373 !important;
}
.cancel-error-bg {
  background: $cancel-error;
  background: #fff2cd;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #f19324;
  margin-left: 30px;
  margin-top:27px !important;
}


@media (max-width: 767px) {
  .mob-a {
    margin-left: 0px !important;
    margin-top:10px !important;
  }
  .cancel-error-bg {
    margin: 5px 0px !important;
  }
  .ac_results{
    max-width: 90% !important;
  }
}



.home_banner{
  .owl-nav{
    pointer-events: none;
    margin-top: -300px !important;
    text-align: center !important;
    z-index: 9 !important;
    height: 300px !important;
    .owl-prev{
      pointer-events: auto;
    }
    .owl-next{
      pointer-events: auto;
    }
  }
}
