<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 bgColor class="text-center"> {{ heading }}  </h1>
      <div class="pad-tb-15 o-hidden">
        <input type="text" class="form-control" placeholder="Enter value" #name>
        <button class="btn form-control btn-red text-white mar-tb-10 h-45 f-size-14" (click)="addUser(name.value)">Submit</button>
      </div>
      <ul class="no-list-style no-padding no-margin">
        <li @fade bgRedColor class="pad-tb-15 text-white border pad-lr-15 pointer" *ngFor="let user of users; let i = index" (click)="removeUser(i)">{{ user | removeBackslash }}</li>
      </ul>
    </div>
  </div>
</div>