<div class="container-fluid">
  <div class="row mar-t-50">
    <div class="col-sm-4 col-sm-push-4 pad-b-30">
      <form #userForm="ngForm" (ngSubmit)="onUpdate(userForm.value)" novalidate>
        <div ngModelGroup="name">
          <div class="form-group">
            <label for="fname">First Name:</label>
            <input type="text" #fname="ngModel" required minlength="2" class="form-control" id="fname" placeholder="Enter first name" name="fname" [ngModel]="current_user.name.fname">
            <!-- <p [hidden]="fname.valid || fname.pristine" class="alert alert-danger pad-tb-5 mar-t-10">First name can't be empty</p> -->
            <div *ngIf="fname.errors && (fname.dirty || fname.touched)" class="alert alert-danger pad-tb-5 mar-t-10">
                <p [hidden]="!fname.errors.required">First name can't be empty</p>
                <p [hidden]="!fname.errors.minlength">Please enter atleast 2 characters</p>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Last Name:</label>
            <input #lname="ngModel" required minlength="2" type="text" class="form-control" id="lname" placeholder="Enter last name" name="lname" [ngModel]="current_user.name.lname">
            <div *ngIf="lname.errors && (lname.dirty || lname.touched)" class="alert alert-danger pad-tb-5 mar-t-10">
                <p [hidden]="!lname.errors.required">Last name can't be empty</p>
                <p [hidden]="!lname.errors.minlength">Please enter atleast 2 characters</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required type="email" class="form-control" id="email" placeholder="Enter email" name="email" [ngModel]="current_user.email">
          <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger pad-tb-5 mar-t-10">
              <p [hidden]="!email.errors.required">Eamil address can't be empty</p>
              <p [hidden]="!email.errors.pattern">Please enter a valid email address</p>
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input #phone="ngModel" required pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]\d{4}$" type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone" [ngModel]="current_user.phone">
          <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger pad-tb-5 mar-t-10">
              <p [hidden]="!phone.errors.required">Phone address can't be empty</p>
              <p [hidden]="!phone.errors.pattern">Please enter a valid Phone Number like +91 (123) 456-7890</p>
          </div>
        </div>
        <div [hidden]="success"  class="alert alert-success pad-tb-5 mar-t-10">
            <p>User Data was updated Successfully</p>
            <button type="button" class="btn btn-success b-radius-0 wp-100 mar-tb-10" routerLink="/list">View List</button>
        </div>
        <button [disabled]="!userForm.form.valid" type="submit" class="btn btn-danger b-radius-0 wp-100">Update User</button>
      </form>
    </div>
  </div>
</div>
